[submodule "filesystem"]
	path = filesystem
	url = https://github.com/boostorg/filesystem
[submodule "algorithm"]
	path = algorithm
	url = https://github.com/boostorg/algorithm
[submodule "deps/boost/algorithm"]
	path = deps/boost/algorithm
	url = https://github.com/boostorg/algorithm
[submodule "deps/boost/filesystem"]
	path = deps/boost/filesystem
	url = https://github.com/boostorg/filesystem
[submodule "deps/boost/iterator"]
	path = deps/boost/iterator
	url = https://github.com/boostorg/iterator
[submodule "deps/boost/range"]
	path = deps/boost/range
	url = https://github.com/boostorg/range
[submodule "deps/boost/detail"]
	path = deps/boost/detail
	url = https://github.com/boostorg/detail
[submodule "deps/boost/mpl"]
	path = deps/boost/mpl
	url = https://github.com/boostorg/mpl
